In [1]:
import pandas as pd

In [2]:
file =pd.read_excel("bank.xls")
df= pd.DataFrame(file)

In [3]:
df.shape
df.describe()

        Betrag (€)    Saldo (€)
count   147.000000   147.000000
mean      0.906463  1257.216531
std     342.020941  1639.819093
min   -2000.000000   122.680000
25%     -23.835000   317.025000
50%      -9.250000   534.850000
75%      -3.190000   912.410000
max    2000.000000  6172.470000

In [4]:
df.iloc[0]

Buchungsdatum                                    2020-04-21 00:00:00
Wertstellung                                     2020-04-21 00:00:00
Umsatzart                                                Lastschrift
Auftraggeber                                          Ahmad Asmandar
Empfänger                                                  KLARNA AB
Betrag (€)                                                     -6.76
Saldo (€)                                                     516.69
Buchungsdetails    Referenz de-XZQJNMK3TBMandat 07ab914d9a5d48e29...
Name: 0, dtype: object

In [5]:
df.head(0)

Empty DataFrame
Columns: [Buchungsdatum, Wertstellung, Umsatzart, Auftraggeber, Empfänger, Betrag (€), Saldo (€), Buchungsdetails]
Index: []

In [6]:
for x in df.head(0):
    print(x)
colmuns_names=df.head(0)

Buchungsdatum
Wertstellung
Umsatzart
Auftraggeber
Empfänger
Betrag (€)
Saldo (€)
Buchungsdetails

In [10]:
transport =df.rename(columns={
    'Betrag (€)':'Betrag',
    'Saldo (€)':'Saldo'
})
df2=pd.DataFrame(transport)

In [15]:
df2.to_excel("bank2.xls")