In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
import os
content=os.listdir('./newdata')
# target="Tutsgalaxy.com"
# target2="FreeCourseWeb.com"
# print(len(target2))

# for item in content:
#     # delete the text files and the urls files to clean the library
#     # print(item)
#     if (item.find(".txt") > 0 or item.find(".url")> 0 ):
#         print(item)
#         os.remove(item)
        
#     # #rename the files and folders
#     if (item.find(target2) >0):
#         print(item)
#         # print(item.find(target2))
#         new_name=item[22:]
#         # print(new_name)
#         os.rename(item,new_name)
#     elif (item.find(target) >0):
#         new_name=item[19:]
#         # print(new_name)
#         os.rename(item,new_name)

print(content)

['fischer1_p33_6_hf8_fc6x_0_9km.txt', 'fischer1_p33_6_hf8_fc6x_4km.txt', 'fischer2_p33_6_hf8_fc6x.txt', 'fischer2_p33_6_hf8_fc6x_0_9km.txt', 'fischer2_p33_6_hf8_fc6x_4km.txt', 'fischer_p33_6_hf8_fc6x.txt', 'madshus_base7_ts_blue.txt', 'madshus_base7_ts_blue_ clockwise 45 turn.txt', 'madshus_base7_ts_blue_point.txt']

In [3]:
df=pd.read_csv("./newdata/fischer1_p33_6_hf8_fc6x_0_9km.txt",names=['channal','min','max','x','y'],sep='\s+',engine='python',encoding='iso-8859-1',skiprows=1)

In [4]:
dx=df.drop(['x', 'y'], axis=1)

In [5]:
dx.head(10)

  channal       min      max
0   Ch0:;  4376072;  6191629
1   Ch1:;  4379084;  5293305
2   Ch2:;  4349189;  5417217
3   Ch3:;  4343124;  5027139
4   Ch4:;       80;    70904
5   Ch5:;   249550;  2366242
6   Ch6:;   278942;   569057
7   Ch7:;   278545;   508521
8   Ch8:;   278620;  1155724
9     V:;      1440     None

In [6]:
dx.to_excel("formatet.xlsx");

In [18]:
dx["min"].dtype

dtype('O')

In [23]:
new_list = dx['min'].map(lambda x: x.lstrip('+-;').rstrip('aAbBcC;'))

In [24]:
new_list

0      4376072
1      4379084
2      4349189
3      4343124
4           80
        ...
96      279193
97      278318
98      278447
99        1549
100      value
Name: min, Length: 101, dtype: object