In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
import os
content=os.listdir('./newdata')
# target="Tutsgalaxy.com"
# target2="FreeCourseWeb.com"
# print(len(target2))

# for item in content:
#     # delete the text files and the urls files to clean the library
#     # print(item)
#     if (item.find(".txt") > 0 or item.find(".url")> 0 ):
#         print(item)
#         os.remove(item)
        
#     # #rename the files and folders
#     if (item.find(target2) >0):
#         print(item)
#         # print(item.find(target2))
#         new_name=item[22:]
#         # print(new_name)
#         os.rename(item,new_name)
#     elif (item.find(target) >0):
#         new_name=item[19:]
#         # print(new_name)
#         os.rename(item,new_name)

print(content)

['fischer1_p33_6_hf8_fc6x_0_9km.txt', 'fischer1_p33_6_hf8_fc6x_4km.txt', 'fischer2_p33_6_hf8_fc6x.txt', 'fischer2_p33_6_hf8_fc6x_0_9km.txt', 'fischer2_p33_6_hf8_fc6x_4km.txt', 'fischer_p33_6_hf8_fc6x.txt', 'madshus_base7_ts_blue.txt', 'madshus_base7_ts_blue_ clockwise 45 turn.txt', 'madshus_base7_ts_blue_point.txt']

In [77]:
df=pd.read_csv("./newdata/fischer1_p33_6_hf8_fc6x_0_9km.txt",names=['channal','min','max','x','y'],sep='\s+',engine='python',encoding='iso-8859-1',skiprows=1)

In [78]:
dx=df.drop(['x', 'y'], axis=1)

In [79]:
dx.head(10)

  channal       min      max
0   Ch0:;  4376072;  6191629
1   Ch1:;  4379084;  5293305
2   Ch2:;  4349189;  5417217
3   Ch3:;  4343124;  5027139
4   Ch4:;       80;    70904
5   Ch5:;   249550;  2366242
6   Ch6:;   278942;   569057
7   Ch7:;   278545;   508521
8   Ch8:;   278620;  1155724
9     V:;      1440     None

In [80]:
 dx['min']= dx['min'].map(lambda x: x.lstrip('+-;').rstrip('aAbBcC;'))
 dx['channal']= dx['channal'].map(lambda x: x.lstrip(';').rstrip(';'))

In [81]:
dx.head()

  channal      min      max
0    Ch0:  4376072  6191629
1    Ch1:  4379084  5293305
2    Ch2:  4349189  5417217
3    Ch3:  4343124  5027139
4    Ch4:       80    70904

In [83]:
#dx=dx.drop(100)
dx['min']=pd.to_numeric(dx['min'])
dx['max']=pd.to_numeric(dx['max'])

In [85]:
dx.to_excel("formatet.xlsx");
dx.head()

  channal      min        max
0    Ch0:  4376072  6191629.0
1    Ch1:  4379084  5293305.0
2    Ch2:  4349189  5417217.0
3    Ch3:  4343124  5027139.0
4    Ch4:       80    70904.0

In [86]:
dx.reset_index(drop=True)

   channal      min        max
0     Ch0:  4376072  6191629.0
1     Ch1:  4379084  5293305.0
2     Ch2:  4349189  5417217.0
3     Ch3:  4343124  5027139.0
4     Ch4:       80    70904.0
..     ...      ...        ...
95    Ch5:   251707  4337618.0
96    Ch6:   279193   549337.0
97    Ch7:   278318   485481.0
98    Ch8:   278447  1085569.0
99      V:     1549        NaN

[100 rows x 3 columns]