In [1]:
import pandas as pd

In [41]:
#df = pd.read_csv("data.csv")
dx=pd.read_excel("data.xls")

In [42]:
dx.head(3)

  channel      min        max
0    Ch0:  4884049  5867512.0
1    Ch1:  4878267  8028863.0
2    Ch2:  4893619  5389670.0

In [53]:
dx["channel"];
dx.channel;
ch0=dx[dx.channel == "Ch0:"]
ch1=dx[dx.channel == "Ch1:"]
ch2=dx[dx.channel == "Ch2:"]
ch3=dx[dx.channel == "Ch3:"]
ch4=dx[dx.channel == "Ch4:"]
ch5=dx[dx.channel == "Ch5:"]
ch6=dx[dx.channel == "Ch6:"]
ch7=dx[dx.channel == "Ch7:"]
ch8=dx[dx.channel == "Ch8:"]

In [74]:
ch0.head()

   channel      min        max
0     Ch0:  4884049  5867512.0
12    Ch0:  4855838  5867234.0
24    Ch0:  4888703  5860038.0
36    Ch0:  4870267  5876872.0
48    Ch0:  4873460  5847050.0

In [75]:
delta0= ch0["max"] -  ch0["min"]
delta1= ch1["max"] -  ch1["min"]
delta2= ch2["max"] -  ch2["min"]
delta3= ch3["max"] -  ch3["min"]
delta4= ch4["max"] -  ch4["min"]
delta5= ch5["max"] -  ch5["min"]
delta6= ch6["max"] -  ch6["min"]
delta7= ch7["max"] -  ch7["min"]
delta8= ch8["max"] -  ch8["min"]

In [76]:
delta1.head()

1      3.1506e+06
13    3.12995e+06
25    3.14751e+06
37    3.13624e+06
49    3.12212e+06
dtype: object